<h2>Orders</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>SR #</th>
            <th>Country</th>
            <th>Shipping Status</th>
            <th>Document Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>India</td>
            <td class="pending">Pending</td>
            <td class="pending">Missing</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>US</td>
            <td class="shipped">Shipped</td>
            <td class="shipped"><a href="#">Document</a></td>
        </tr>
    </tbody>

</table>